*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* DEV CLASSES */

.border-blue {
  border: 1px solid blue;
}

.border-green {
  border: 1px solid green;
}

.display-none {
  display: none !important;
}

/* STYLE CLASSES */

html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-color: plum;
    /* background-size: cover;
    background-repeat: space; */
  }
  
  #main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  canvas, #overlay {
    position: absolute;
  }
  
  #overlay {
    width: 90%;
    height: 400px;
    z-index: 2;
    top: 90px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1, p {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    color: indigo;
    background-color: transparent;
    text-align: center;
    margin: 15px;
  }
  
  h1 {
    font-size: 50px;
    padding: 50px 0 0 0;
  }

  p {
    font-size: 30px;
  }

  #msg {
    font-size: 20px;
    padding: 0 0 50px 0;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
  }

  button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: white;
    background-color: mediumslateblue;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
  }

button:hover {
  color: mediumslateblue;
  background-color: lavender;
}


  canvas {
    /* background-image: url('../img/stone.png'); */
    /* background-repeat: repeat; */
    background-color: lavenderblush;
    width: 100%;
    height: 100;
    z-index: 1;
    top: 0;
    left: 0;
  }
  


  #container {
  max-width: 50em;
  /* height: 70vh; */
  /* background-color: mediumslateblue; */
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  /* grid-gap: 1em;
  grid-template-rows: .25fr .5fr .25fr;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: "top-left top-left top-right"
                        "game game game"
                        "overlay overlay overlay"
                        "btm-left btm-right btm-right"; */



  }
  
  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: mediumorchid;
  }
  
  #top-left {
    grid-area: top-left;
  }
  
  #top-right {
    grid-area: top-right;
    /* background-color: #222; */
    /* background-image: url('../img/funky-lines.png'); */
  }
  
  main {
    grid-area: game;
  }
  
  
  #btm-left {
    grid-area: btm-left;
    /* background-color: #222; */
  }
  
  #btm-right {
    grid-area: btm-right;
    /* background-color: #222; */
  }